<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap}" rel="stylesheet">
</head>

<body>

<div th:insert="~{admin/template_admin.html :: header}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Productos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>
  <h2>Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Dirección</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.email}">Email</td>
        <td th:text="${usuario.direccion}">Dirección</td>
        <td th:text="${usuario.type}">Rol</td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<div th:insert="~{admin/template_admin.html :: footer}"></div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
