@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root{
    --site-max-width: 1140px;
    --side-padding: 1rem;
    --slider-height: 360px;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #303AE3;
}

nav.navbar {
    background-color: #303AE3;
    color: black !important;
}

.navbar-inner{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--side-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.roboto-navbar {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.slider{
    height: var(--slider-height);
    margin-top: max(0.5rem, 1dvh);
    margin-bottom: max(0.5rem, 1dvh);
    max-height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .slider {
        height: 200px;
        margin-top: 0.5rem;
    }

    .slider img {
        object-fit: cover;
    }
}

footer{
    margin-top: 2rem;
}